# GenAI Frameworks
langchain
langchain-groq
langchain-community
langchain-pinecone
langchain-huggingface

python-dotenv
sse-starlette

# Backend - RestAPI
uvicorn
fastapi
langserve
python-multipart
# joblib==1.4.2
httpx

streamlit
